.root {
    --dice: 6;
}

.statBlock {
    display: grid;
    grid-template-columns: repeat(var(--dice), 2.5rem);
    gap: 0.75rem;
    margin-top: 0.75rem;

    &:not(:first-child) {
        opacity: 0.5;
        transform: scale(0.95);
    }
}

.die {
    border: 2px solid #000;
    border-radius: 3px;
    width: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}