:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #222;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --color-blue: oklch(45% 50% 264deg);
    --color-red: oklch(50% 55% 31deg);

    --color-gray-50: oklch(98.42% 0.0034 247.86deg);
    --color-gray-100: oklch(12% 9.5% 264deg / 5%);
    --color-gray-200: oklch(12% 9% 264deg / 8%);
    --color-gray-300: oklch(12% 8.5% 264deg / 17%);
    --color-gray-400: oklch(12% 8% 264deg / 38%);
    --color-gray-500: oklch(12% 7.5% 264deg / 50%);
    --color-gray-600: oklch(12% 7% 264deg / 67%);
    --color-gray-700: oklch(12% 6% 264deg / 77%);
    --color-gray-800: oklch(12% 5% 264deg / 85%);
    --color-gray-900: oklch(12% 5% 264deg / 90%);
    --color-gray-950: oklch(12% 5% 264deg / 95%);

    @media (prefers-color-scheme: dark) {
        --color-blue: oklch(69% 50% 264deg);
        --color-red: oklch(80% 55% 31deg);

        --color-gray-50: oklch(17% 1% 264deg);
        --color-gray-100: oklch(28% 3% 264deg / 65%);
        --color-gray-200: oklch(31% 3% 264deg / 80%);
        --color-gray-300: oklch(35% 3% 264deg / 80%);
        --color-gray-400: oklch(47% 3.5% 264deg / 80%);
        --color-gray-500: oklch(64% 4% 264deg / 80%);
        --color-gray-600: oklch(82% 4% 264deg / 80%);
        --color-gray-700: oklch(92% 4.5% 264deg / 80%);
        --color-gray-800: oklch(93% 3.5% 264deg / 85%);
        --color-gray-900: oklch(95% 2% 264deg / 90%);
        --color-gray-950: oklch(94% 1.5% 264deg / 95%);
    }
}

body {
    margin: 0;
    display: flex;
    align-items: center;
    min-height: 100vh;
}

:global(#app) {
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
}

.seperator {
    border: 0;
    height: 2px;
    background: grey;
    margin-inline: -2rem;
}

.button {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 0.875rem;
    margin: 0 auto;
    outline: 0;
    border: 1px solid var(--color-gray-200);
    border-radius: 0.375rem;
    background-color: var(--color-gray-50);
    font-family: inherit;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    color: var(--color-gray-900);
    user-select: none;

    @media (hover: hover) {
        &:hover {
            background-color: var(--color-gray-100);
        }
    }

    &:active {
        background-color: var(--color-gray-100);
    }

    &:disabled {
        cursor: not-allowed;
        color: var(--color-gray-400);
        background-color: var(--color-gray-100);
    }

    &:focus-visible {
        outline: 2px solid var(--color-blue);
        outline-offset: -1px;
    }
}